# URLs
# It will be used on CORS origin
CLIENT_URL="http://localhost:3000"

# If not configured, the default port is 3031
PORT=4040
TOKEN_SECRET="secret1"

# DATABASE
# Set the URL of your database, it needs to be MySQL
DATABASE_URL=mysql://root:password@localhost/db

# CACHE
# Set the hostname and password of your redis db, 
# checking the docker-compose file on root directory
CACHE_HOSTNAME=localhost
CACHE_PASSWORD=password

# FIREBASE CREDENTIALS
# Secret key in JSON offered on firebase
FIREBASE=""

# Default link image used on firebase storage, for example
# https://firebasestorage.googleapis.com/v0/b/<project name>.appspot.com/o
FIREBASE_TEMPLATE_IMAGE_LINK=""

# Firebase bucket
FIREBASE_BUCKET=""

